# Environment & Secrets

.env
.env.*
!.env.example





# Python / Django

pycache/
*.py[cod]
*$py.class

*.sqlite3
db.sqlite3
db.sqlite3
db.sqlite3-journal


.venv/
venv/
env/
.env
.env.*
.venv
.venv.*

.pytest_cache/
.mypy_cache/

logs
*.log
.log





# Django

media/
staticfiles





# Node / React

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist/
dist-ssr
build/

*.local

.vite/





# IDE / Editor

.vscode/
!.vscode/extensions.json
.idea/

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swap
*.swwo





# Operating System

.DS_Store
Thumbs.db





# Temporary Files

*.tmp
*.temp
.cache/





# Git

.env
staticfiles/
__pycache__/
*.pyc